In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/ganjithilak/Machine-Learning-Projects/main/my_ml/DATA/car-sales-extended.csv')

In [4]:
data.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [5]:
data.shape

(1000, 5)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           1000 non-null   object
 1   Colour         1000 non-null   object
 2   Odometer (KM)  1000 non-null   int64
 3   Doors          1000 non-null   int64
 4   Price          1000 non-null   int64
dtypes: int64(3), object(2)
memory usage: 39.2+ KB

In [7]:
data.duplicated().sum()

0

In [5]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
mct = make_column_transformer((OneHotEncoder(),['Make','Colour','Doors']),remainder = 'passthrough')

In [6]:
df1 = pd.DataFrame(mct.fit_transform(data))

In [7]:
df1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,35431.0,15323.0
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,192714.0,19943.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,84714.0,28343.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,154365.0,13434.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,181577.0,14043.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,35820.0,32042.0
996,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,155144.0,5716.0
997,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,66604.0,31570.0
998,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,215883.0,4001.0
999,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,248360.0,12732.0

In [8]:
mct

ColumnTransformer(remainder='passthrough',
                  transformers=[('onehotencoder', OneHotEncoder(),
                                 ['Make', 'Colour', 'Doors'])])

In [9]:
X = df1.drop(columns = 13)

In [10]:
y = df1[13]

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
app = make_column_transformer((StandardScaler(),[12]),remainder = 'passthrough')

In [29]:
app

ColumnTransformer(remainder='passthrough',
                  transformers=[('standardscaler', StandardScaler(), [12])])

In [13]:
X_train= pd.DataFrame(app.fit_transform(X_train))

In [14]:
X_train

           0    1    2    3    4    5    6    7    8    9    10   11   12
0    1.378444  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
1   -0.177967  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
2    0.509285  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0
3    0.963862  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
4   -1.388103  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0
..        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
665  1.289419  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0
666  1.360703  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
667 -1.001964  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0
668 -1.487481  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0
669  0.293284  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0

[670 rows x 13 columns]

In [15]:
X_test = pd.DataFrame(app.transform(X_test))

In [16]:
X_test

           0    1    2    3    4    5    6    7    8    9    10   11   12
0    0.958357  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0
1    1.363478  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
2   -1.744118  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
3    1.153084  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0
4   -0.845742  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0
..        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
325 -1.691611  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
326 -0.484060  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0
327  0.069223  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
328 -0.620483  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
329 -0.068543  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0

[330 rows x 13 columns]

In [20]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
rfr.fit(X_train,y_train)
rfr.score(X_test,y_test)

0.28057662550235196

In [23]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)
lr.score(X_test,y_test)

0.3911696689444335

In [24]:
from sklearn.svm import SVR
scr = SVR()
scr.fit(X_train,y_train)
scr.score(X_test,y_test)

-0.01666600430990095

# Data Preprocessing

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
dp = pd.read_csv("https://raw.githubusercontent.com/ganjithilak/Machine-Learning-Projects/main/my_ml/DATA/Data-Copy1.csv")

In [7]:
dp.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [8]:
dp.shape

(10, 4)

In [9]:
dp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

In [10]:
dp.duplicated().sum()

0

In [11]:
X = dp.iloc[:,:-1]
y = dp.iloc[:,-1]

In [14]:
X.values

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [15]:
y.values

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

### *Clearing the missing values(nulls)*

In [46]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values = np.nan,strategy = 'mean')
imputer = imp.fit_transform(X)

In [47]:
X

array([[1.00, 0.00, 0.00, 44.00, 72000.00],
       [0.00, 0.00, 1.00, 27.00, 48000.00],
       [0.00, 1.00, 0.00, 30.00, 54000.00],
       [0.00, 0.00, 1.00, 38.00, 61000.00],
       [0.00, 1.00, 0.00, 40.00, nan],
       [1.00, 0.00, 0.00, 35.00, 58000.00],
       [0.00, 0.00, 1.00, nan, 52000.00],
       [1.00, 0.00, 0.00, 48.00, 79000.00],
       [0.00, 1.00, 0.00, 50.00, 83000.00],
       [1.00, 0.00, 0.00, 37.00, 67000.00]])

In [27]:
y = dp['Purchased']

### *Encoding the independent variables*

In [40]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ctf = ColumnTransformer(transformers = [('encoder',OneHotEncoder(),[0])],remainder = 'passthrough')
X = np.array(ctf.fit_transform(X))

In [42]:
np.set_printoptions(formatter={'float_kind': '{:.2f}'.format})

In [43]:
X

array([[1.00, 0.00, 0.00, 44.00, 72000.00],
       [0.00, 0.00, 1.00, 27.00, 48000.00],
       [0.00, 1.00, 0.00, 30.00, 54000.00],
       [0.00, 0.00, 1.00, 38.00, 61000.00],
       [0.00, 1.00, 0.00, 40.00, nan],
       [1.00, 0.00, 0.00, 35.00, 58000.00],
       [0.00, 0.00, 1.00, nan, 52000.00],
       [1.00, 0.00, 0.00, 48.00, 79000.00],
       [0.00, 1.00, 0.00, 50.00, 83000.00],
       [1.00, 0.00, 0.00, 37.00, 67000.00]])