In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
ir = pd.read_csv(r"C:\Users\Shivani Dussa\Downloads\iris.csv")
ir.head(4)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa

In [3]:
ir.species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [4]:
ir['species'] = ir['species'].map({'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-virginica':2})

In [5]:
X = ir.iloc[:,:-1]  #instead of X = ir.drop(['species'],axis = 1)
y = ir.iloc[:,-1]   # instead of y = ir['species']

In [6]:
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [7]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: species, dtype: int64

In [8]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.23,random_state = 50)

### Random Forest Classifier

In [9]:
rfc = RandomForestClassifier()
rfc.fit(X_train,y_train)
predi = rfc.predict(X_test)
score = accuracy_score(y_test,predi)
print(score)

0.9714285714285714

### Saving The Model

In [11]:
import pickle
f = open("rfc.pkl","wb")
pickle.dump(rfc,f)
f.close()

### Prediction

In [13]:
sepal_length = 6
sepal_width = 4
petal_length = 8
petal_width = 9

result = rfc.predict([[sepal_length,sepal_width,petal_length,petal_width]])

print(result,type(result))
print(result[0],type(result[0]))

[2] <class 'numpy.ndarray'>
2 <class 'numpy.int64'>

In [14]:
species = {0:'Iris-setosa', 1:'Iris-versicolor', 2:'Iris-virginica'}
predicted_species = 'unknown'
if result[0] in species.keys():
    predicted_species = species[result[0]]
print('the pridicted species is {}'.format(predicted_species))

the pridicted species is Iris-virginica